.DS_Store
.ruby_inline
.*.swp
*.orig
*.cp
*~
db/schema.rb
config/s3.yml
config/database.yml
config/*.example
db/*.sql
db/*.sqlite3
local/*
log/*.log
log/*
log/development.log
public/.DS_Store
public/.htaccess
public/cache
public/images/.DS_Store
tmp/
tmp/**/*
tmp/cache
tmp/pids/mongrel.pid
public/javascripts/all.js
public/stylesheets/all.css